<div class="row col-md-6 col-md-offset-5">
  <h3>Checkout</h3>
  <%=link_to "Boleto", controller: "checkout", action: "boleto" %>
  <%=link_to "Credit Card", controller: "checkout", action: "credit_card" %>
</div>
